{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<div style="margin-bottom: 100px;"></div>
<div style="text-align: justify; max-width: 1000px; margin: 0 auto;">
    <h2>Contact us</h2>
    <br>
    If you have any questions, concerns, or feedback, please reach out to us:
    <br><br>
    <span style="font-weight:bold;">mysoundarchiveofficial@gmail.com</span>
    <br><br><br>

    If you wish to follow us on Spotify and listen to our genre playlists,
    <a href="https://open.spotify.com/user/31tbiwgaub4btfknjz2kzbewyneu?si=4ae59b5726064cae" style="color:white;">click here</a>.


</div>
<div style="margin-bottom: 200px;"></div>

{% endblock %}
