{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<div style="margin-bottom: 100px;"></div>
<div style="text-align: justify; max-width: 1000px; margin: 0 auto;">
    <h2>Privacy Policy</h2>
    <br>
    Thank you for using My Sound Archive. This Privacy Policy explains how we collect, use, and protect your personal data when you visit and interact with our website, www.mysoundarchive.com.
    <br><br><br>
    <h5>Information We Collect</h5>

    <span style="font-weight: bold";>Account Information: </span>We collect your username and password through a form when you create an account.<br>
    <br>
    <span style="font-weight: bold";>Spotify Profile Data: </span>When you authorize our web application to connect with Spotify, we collect the following information from your Spotify profile: Spotify ID, display name, and email address. Currently, we do not send any emails, but if we decide to do so in the future, we will not contact you unless you choose to join our mailing list.<br>
    <br>
    <span style="font-weight: bold";>Spotify Library Content: </span>Your Spotify library content is collected when you explicitly request to retrieve it.

    <br><br><br>
    <h5>Security Measures</h5>

    We adopt appropriate data collection, storage, processing practices and security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information stored on our site.

    <br><br>
    <h5>Data Sharing</h5>

    We do not share your personal data with third parties.

    <br><br>
    <h5>Cookies and Tracking Technologies</h5>

    We use only a session cookie to detect if you are signed in. No other tracking technologies are used.

    <br><br>
    <h5>Deleting Your Data from Our Website</h5>

    If you wish to delete all your data from our website, you can do so by choosing “delete account” in your settings.
    To unauthorize our application, please refer to Spotify's instructions on how to do so.

    <br><br>
    <h5>Contact Information</h5>

    If you have any questions or concerns about our privacy practices, please contact us at: mysoundarchiveofficial@gmail.com.

    <br><br>
    <h5>Changes to This Privacy Policy</h5>

    We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.

    <br><br>
    <h5>Consent</h5>

    By using our website, you consent to our Privacy Policy.

    <div style="margin-bottom: 100px;"></div>

    This document was last updated on July 06, 2024.

</div>
<div style="margin-bottom: 200px;"></div>

{% endblock %}
